.container{
    margin:100px;
    border-radius: 20px;
    background-color: lightgreen;
    display:flex;
    
    flex-direction: column;
}
.button{
    width: 100px;
    height: 50px;
    border-color: blueviolet;
    background-color: bisque;
    
    border-radius: 5px;
    justify-content: space-evenly;
}
.obj{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: greenyellow;
    
}

